<!DOCTYPE html>
<html lang="pt-br">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/navbar.ejs') %>

    <div class="content">
      <% if (users.length > 0){ %> <% users.forEach(user => { %>
      <center>
        <h3 class="title"><%= user.firstName %> <%= user.lastName %></h3>

        <p><%= user.email %></p>
        <hr />
        <br />

        <% }); }else{ %>

        <p>Não a usuario</p>
      </center>

      <% } %>
    </div>
  </body>
</html>
